#list-user {
    background-color: #1f2023;
    height: 100px;
    color: white;
    margin-bottom: 10px;
    padding: 30px;
    font-size: 20px;
    border-radius: 5px;
}
#detail-user 
{
    margin-top: 5px;
    padding-bottom: 5px;
}
#image-user
{
    border-color: red;
    height: 50px;
    width: 50px;
    float:left;
    margin-right:10px;
}
@media screen and (max-width: 500px) {
    #list-user {
        background-color: #1f2023;
        height: 100px;
        color: white;
        margin-bottom: 10px;
        padding: 30px;
        font-size: 15px;
    }
}
a:hover
{
    text-decoration:none;
}
.title-listfriend {
    background-color: #3e444f;
    color:#fff;
    height: auto;
    margin-top:40px;
    padding: 12px;
    border-radius: 5px;
}
#body-listfriend {
    background-color: #b7b7bc;
}
.navbar
{
    padding-top: 10px;
}
#search {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 19px;
    font-weight: 600;
    color: #303947;
}